Dockerfile
.dockerignore

.git
.gitignore
.gitattributes

.npmrc
.prettierignore
.prettierrc
.eslint.config.js
.vscode

.env.*
!.env.prod

.svelte-kit
!.svelte-kit/tsconfig.json

node_modules
build
package

README.md
